.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  background-color: var(--color-white);
}

.header__icon-wrapper {
  display: flex;
}

.header__icon-centre {
  margin: 0 0.5rem;
}
