@import "../../styles/variables.css";
@import "../../styles/animation.css";

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  padding: 0;
}

.icon-button:active {
  outline: none;
}

.icon-button--primary {
  color: var(--color-white);
  background: var(--color-blue);
}

.icon-button--primary:hover {
  background: var(--color-dark-blue);
}

.icon-button--loading,
.icon-button--loading:hover {
  animation: spin 10s linear infinite;
  background: var(--color-green);
}

.icon-button--secondary {
  color: var(--color-white);
  background: var(--color-dark-gray);
}

.icon-button--secondary:hover {
  background: var(--color-blue);
}

.icon-button--secondary:focus,
.icon-button--tertiary:focus {
  outline: none;
  border: 2px solid var(--color-blue);
}

.icon-button--tertiary {
  background: none;
}

.icon-button--tertiary:hover {
  background-color: var(--color-light-gray);
}

.icon-button--tertiary:active {
  background-color: var(--color-gray);
}

.icon-button--small {
  --icon-button-tertiary-width: 1rem;
  width: var(--icon-button-tertiary-width);
  height: var(--icon-button-tertiary-width);
  /* TODO: set font-size in order to change icon size */
  font-size: var(--icon-button-tertiary-width);
}

.icon-button--dark {
  color: var(--color-dark-gray);
}

.icon-button--light {
  color: var(--color-white);
}

.icon-button--light:hover {
  background-color: var(--color-black);
}

.icon-button--light:active {
  color: var(--color-gray);
}
